@import "tailwindcss";


/* Hide Scrollbar */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* NavBar Hover Effect */
.nav-item:hover {
    display: inline-block;
    text-decoration: underline;
    text-underline-offset: 5px;
    transform: scale(1.2);
    color: oklch(79.5% 0.184 86.047);
}

.nav-item {
    transition: all 0.5s linear;
}

/* Navbar Logo */
.logo {
    display: inline-block;
    transition: transform 0.3s ease;
}

/* Logo Hover Effect */
.logo:hover {
    animation: bounce 1s infinite;
}

/* Animation for Logo */
@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(-15px);
    }

    50% {
        transform: translateY(7px);
    }

    70% {
        transform: translateY(-7px);
    }

    100% {
        transform: translateY(0);
    }
}


/* proflie img  */
@keyframes scaleOnly {

    0%,
    100% {
        transform: scale(1);
        box-shadow: none;
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 15px 30px white;

    }
}

.profile-img-container {
    animation: scaleOnly 3s ease-in-out infinite;
    transition: all 0.3s ease-in-out;
    border-radius: 94% 6% 93% 7% / 10% 93% 7% 90%;

}

/* linear bar */
@keyframes striped {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 40px 0;
    }
}

.skill-fill {
    background-color: #52796f;
    /* base green color */
    background-image: repeating-linear-gradient(45deg,
            rgba(255, 255, 255, 0.2) 0,
            rgba(255, 255, 255, 0.2) 10px,
            transparent 10px,
            transparent 20px);
    animation: striped 1s linear infinite;
    height: 100%;
    border-radius: 9999px;
}

/* certificate */
.certificate-card {
    transition: all 0.2s ease-in-out;
}

.certificate-card:hover {
    transform: scale(1.06);
    box-shadow: 0 0 30px #283618;
}

/* projects */
.project-card {
    transition: all 0.5 ease-in-out;
}

.project-card:hover {
    transform: scale(1.07, 1.10);
}